#set this if you want to store scans outside of /tmp
#FOLDER=~/scans/$(date -I)
SCAN_SOURCE="ADF Duplex"
SCAN_OPTIONS="--swdeskew=yes --swcrop=yes --swskip=7 --resolution=150  --contrast=25"
IMAGE_OPTIONS="--resolution=600"

#set these if you want to use WEBDAV uploading
WEBDAV_USER_PASS=
WEBDAV_URL=